// Intro
@use "settings" as *;

#intro {
  min-height: 100vh;
  padding: $space-xl;
  position: fixed;
  inset: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $space-lg;

  z-index: 1;

  opacity: 1;

  transition: opacity 0.8s ease;

  .started & {
    opacity: 0;
  }

  &[aria-hidden="true"] {
    pointer-events: none;
  }

  .intro-image {
    width: 130px;
    height: 130px;

    object-fit: cover;

    border: 2px dashed $color-black;
    border-radius: 50%;
  }

  h1 {
    text-align: center;
    margin: 0;
    font-size: 2em;

    @media screen and (min-width: $breakpoint-small) {
      font-size: 3em;
    }
  }

  .credits {
    position: absolute;
    bottom: $space-md;

    font-size: 0.65em;

    @media screen and (min-width: $breakpoint-small) {
      font-size: 0.8em;
    }
  }
}
