/*____________________________________ LAYOUT ____________________________________*/
@use "settings" as *;

body {
  font-size: 1.25em;
  background-color: $color-lorraine-yellow;
  overflow: hidden;

  &.started {
    overflow: auto;
  }

  @media screen and (min-width: $breakpoint-small) {
    font-size: 1.5em;
  }
}

.noscript-message {
  max-width: $content-max-width;
  padding: $space-md;
  margin: $space-md auto;

  font-family: $font-ui;
  font-size: 1rem;
  text-align: center;

  background-color: $color-background;
  border: 2px solid $color-black;
}

#content {
  opacity: 0;

  transition: opacity 1.2s ease 1s;

  .started & {
    opacity: 1;
  }

  &[aria-hidden="true"] {
    pointer-events: none;
  }

  #generated-content {
    max-width: $content-max-width;
    padding: $space-lg;
    margin: 0 auto 100px auto;

    opacity: 1;

    transition: opacity 600ms ease;

    .transition & {
      opacity: 0;
    }

    @media screen and (min-width: $breakpoint-small) {
      padding: 50px 50px 65px 50px;
    }
  }

  .options {
    width: 100%;
    padding: $space-md $space-md
      calc(#{$space-lg} + env(safe-area-inset-bottom));
    position: fixed;
    bottom: 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: $space-sm;

    background: $color-lorraine-yellow;
  }
}
