/*____________________________________ UI ____________________________________*/
@use "settings" as *;

.btn {
  min-width: 130px;
  padding: 1.15rem $space-xl;
  position: relative;
  overflow: hidden;

  flex: 0 1 auto;

  isolation: isolate;

  font-size: 0.7em;
  font-weight: 600;
  color: $color-black;
  line-height: 1;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;
  border: 2px solid $color-black;

  transition: color $transition-medium;

  &::before {
    content: "";

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: block;

    background-color: $color-black;

    transform: translateY(calc(100% - 3px));
    transition: transform $transition-medium;
  }

  &:hover,
  &:focus-visible {
    color: $color-lorraine-yellow;

    &::before {
      transform: translateY(0);
    }
  }
}

.icon-link {
  width: 3.5rem;
  height: 3.5rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: $color-black;

  background-color: transparent;

  transition:
    opacity $transition-fast,
    transform $transition-fast;

  svg {
    width: 1.75rem;
    height: 1.75rem;
  }

  &:hover,
  &:focus-visible {
    opacity: 0.72;

    transform: translateY(-2px);
  }
}

.input {
  position: relative;

  flex: 0 0 auto;

  font-weight: 600;
  font-size: 0.8em;
  color: $color-black;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  @media screen and (min-width: $breakpoint-small) {
    font-size: 0.65em;
  }

  input {
    width: 4.75rem;
    min-height: 3.75rem;
    padding: 0.85rem 1.6rem 0.85rem 0.9rem;

    font-family: $font-primary;
    text-align: center;

    background-color: $color-lorraine-yellow-light;
    border: 2px dashed $color-black;
    border-radius: 45px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .input-symbol {
    position: absolute;
    top: 50%;
    right: 0.95rem;

    font-family: $font-ui;

    transform: translateY(-50%);

    pointer-events: none;
  }
}
