@import "_imports.scss";
@import "_vars.scss";
@import "_reset.scss";
@import "_animations.scss";
@import "_components.scss";
@import "_intro.scss";

body {
  font-size: 1.25em;

  background-color: $lorraine-yellow;

  overflow: hidden;

  &.started {
    overflow: auto;
  }

  @media screen and (min-width: $xs-max) {
    font-size: 1.5em;
  }
}

#content {
  opacity: 0;

  transition: opacity ease 1.2s 1s;

  .started & {
    opacity: 1;
  }

  #generated-content {
    max-width: 860px;
    padding: 25px;
    margin: 0 auto 90px auto;

    opacity: 1;

    transition: opacity ease 600ms;

    .transition & {
      opacity: 0;
    }

    @media screen and (min-width: $xs-max) {
      padding: 50px;
    }
  }

  .options {
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: $lorraine-yellow;

    box-sizing: border-box;

    .btn,
    .input {
      margin: 7.5px;
    }

    #btn-copy {
      display: none;
      @media screen and (min-width: $xs-max) {
        display: block;
      }
    }
  }
}
